.importante {
    color: royalblue;
}
.secundario{
    color: skyblue;
}
.imagen{
    margin-top: 100px;
    margin-bottom: 100px;
}
.texto{
    margin-right: 25px;
}
.titulo{
    margin-left: 100px;
}.contenido{
    margin-left: 100px;
}